<h1>Welcome to the joke party, {{username}}!</h1><br>


<a href="/randomJoke">get a random joke?</a><br>
<a href="/allJokes">i need more fun than that! give me ALL jokes please!</a><br>
<a href="/addJoke">Want to tell a joke yourself?</a><br>