<h1>please login</h1><br>
<div style="width:200px;">
      <div style="width=100%;margin-top:10px;">
        <form method="post" id="loginform">
          <label>Username:</label>
          <input name="username">
          <input type="submit">
        </form>
      </div>
    </div>